# Created by https://www.toptal.com/developers/gitignore/api/django,python,windows,sublimetext,pycharm,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=django,python,windows,sublimetext,pycharm,visualstudiocode

### Django ###
*.log
*.pot
*.pyc
__pycache__/
settings.local
db.sqlite3
db.sqlite3-journal
media
/static
